<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="m-5">결과</h1>
        </div>
        <div class="row">


            <div class="col-4">

                <img th:onclick="imageClick([[${first_brand}]]);" th:src="${first_image}" width="300px" height="300px">


                <h6 class="m-3" th:text="${first_brand}"></h6>
            </div>

            <div class="col-4">

                <img  th:onclick="imageClick([[${second_brand}]]);" th:src="${second_image}" width="300px" height="300px">

                <h6 class="m-3" th:text="${second_brand}"></h6>
            </div>

            <div class="col-4">

                <img  th:onclick="imageClick([[${third_brand}]]);" th:src="${third_image}" width="300px" height="300px">

                <h6 class="m-3" th:text="${third_brand}"></h6>
            </div>
        </div>
        <div class="row justify-content-center">
            <h3 class="m-5">
                나온 신발들에 대해 더 알고싶으시면 사진을 클릭해 주세요
            </h3>

        </div>

    </div>
</body>

<script>
    function imageClick(shoesName){
        location.href='https://www.google.com/search?q=' + shoesName+'&hl=ko&tbm=isch';
    }
</script>


</html>